POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=loan_default
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=loan_default_experiment

API_HOST=0.0.0.0
API_PORT=8000

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin